html{
scroll-behavior:smooth;
}

body{
font-family:Arial;
margin:0;
padding:0;
transition:0.5s;
}

nav{
background:#333;
padding:15px;
position:sticky;
top:0;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

section{
padding:40px;
}

input,textarea{
width:100%;
padding:10px;
margin:10px 0;
}

button{
padding:10px 20px;
cursor:pointer;
}

.dark{
background:black;
color:white;
}

.dark nav{
background:#111;
}

.card{
border:1px solid gray;
padding:10px;
margin:10px;
border-radius:10px;
}

#emailError{
color:red;
}

@media(max-width:768px){
nav{
display:flex;
flex-direction:column;
}

section{
padding:20px;
}
}